#design {
  background-color: #56bfc9;
  color: white; }

#music {
  background-color: #333;
  color: white; }

.box {
  height: 400px;
  margin-bottom: 20px;
  width: 100%;
  background: pink; }

#illustration {
  background-color: #f2d441; }

#comics {
  background-color: #73605b;
  color: white; }

#cv {
  background-color: #f4606c;
  color: white; }

#contact {
  background-color: #681c2f;
  color: white; }

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, hr {
  margin: 0;
  padding: 0;
  list-style-type: none; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh; }

h1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-transform: uppercase; }

h2 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: .2rem;
  text-transform: uppercase; }

h3 {
  font-size: 1.4rem;
  letter-spacing: .1rem;
  text-transform: uppercase; }

p {
  line-height: 2rem; }

a {
  text-decoration: none;
  color: inherit; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto 15px;
  padding: 0 30px;
  max-width: 1200px;
  height: 50px; }
  header .logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .logo img {
      height: 50px;
      margin-right: 10px; }
    header .logo h1 {
      font-weight: 900;
      display: none; }
  header h2 {
    width: 200px;
    text-align: right; }

.portfolio {
  margin: 0 auto 70px;
  max-width: 1200px;
  padding: 0 30px 10px; }

.section-header {
  height: 50px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between; }
  .section-header h2:last-child {
    display: none; }

.section-header:hover {
  cursor: pointer; }

#back-to-top {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  display: none; }

.content {
  display: none; }

.project-list {
  padding: 20px 0; }
  .project-list ul {
    overflow: hidden; }
    .project-list ul a li {
      width: 100%;
      float: left;
      padding: 15px 20px;
      text-transform: uppercase;
      letter-spacing: .1rem; }
    .project-list ul a li:hover {
      background-color: #e9e5e4; }

.project {
  padding: 20px 0; }

.column {
  padding: 40px 20px;
  width: 100%; }

a img {
  width: 100%;
  margin-bottom: 20px; }

@media (min-width: 767px) {
  header .logo img {
    display: none; }
  header .logo h1 {
    display: block; }
  header h2 {
    width: 60%; }

  #back-to-top {
    width: 50px;
    top: 60px;
    right: 30px; }

  .project-list ul a li {
    width: 50%; }

  .project {
    display: flex; }

  .column {
    width: 50%; }

  a img {
    width: 80%; } }
@media (min-width: 1200px) {
  header .logo h1 {
    font-size: 1.4rem; }
  header h2 {
    font-size: 1.4rem; }

  .section-header {
    height: 70px; }
    .section-header h2 {
      font-size: 1.4rem; } }

/*# sourceMappingURL=styles.css.map */
