@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_design.scss";
@import "partials/_music.scss";
@import "partials/_illustration.scss";
@import "partials/_comics.scss";
@import "partials/_cv.scss";
@import "partials/_contact.scss";
@import "partials/_modal.scss";
@import "partials/_about.scss";

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, hr {
  margin:0;
  padding:0;
  list-style-type: none;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  // transition: background-color .3s ease-in-out;
}

h1{
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

h2{
  font-size:1rem;
  font-weight: 100;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

h3{
  font-size:1.4rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

p{
  line-height: 1.6rem;
  font-size: .9rem;
}

a{
  text-decoration: none;
  color:inherit;
}


.flex{
  display: flex;
}

.orbs{
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top:-50px;
  z-index: -1;
}

.walking{
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -2;

  img{
    width: 100%;
  }
}


.black{
  background-color: black;
  color:white;
}

.italic{
  font-style: italic;
}

.transparent{
  background-color: transparent;
}

.border{
  border:5px solid red;
}

header{
  height: 100px;
  width: 100%;
  background-color: white;
  position: fixed;
  top:0;
  z-index: 2;

  .container{
    height: 80px;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding:0 15px ;
    padding: 0 5%;
  }

  .left{
    display: flex;
    align-items: center;
    justify-content: center;

    .logo{
      background-color:black;
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 52px;
      width: 52px;
      margin-right: 10px;

      .line{
        margin:7.5px 0;
        width: 25px;
        border-bottom: 2px solid white;
      }
    }

    h1{
      font-weight: 400;
      width: 100px;
      // display: none;
    }
  }

  .left:hover{
    cursor: pointer;
  }
}

.right{
  display: flex;

  #back-to-top2{
    border: 2px solid white;
    height: 52px;
    width: 52px;
    // background: white;
    // color: black;
    text-align: center;
    font-size:2rem;
    display: none;

    .fa{
      margin-top: 7px;
    }
  }


  #light-switch{
    overflow: hidden;
    // border: 2px solid white;
    width: 52px;
    height: 52px;
    // background-color: black;
    color:white;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    .fa-sun-o{
      display: none;
    }

    #eye2{
      display: none;
    }
  }
}

.right:hover{
  cursor: pointer;
}


.portfolio{
  margin:100px auto 10px;
  max-width: 900px;
  // padding:0 15px 0px;
  padding: 0 5%;
}

section{
  display: none;
  border-bottom:1px solid black;
  max-width: 900px;
}

.section-header{
  // width: 100%;
  max-width: 900px;
  height: 10vh;
  min-height: 50px;
  padding: 0 15px;
  display:flex;
  align-items:center;
  display:flex;
  justify-content:space-between;
  transition: background-color .2s ease-in-out;

  h2{
    font-size: 1rem;
    font-weight: 400;
  }

  h2:last-child{
    display: none;
  }
}

.section-header:last-of-type{
  border:none;
}


.section-header:hover{
  cursor: pointer;
  // font-style: italic;
  // background-color: #eee;
  // color:black;
  background-color: $color9;
  color: white;
}


.content{
  display: none;
  margin:0 auto;
  padding:20px 0;

}

.project-list{
  overflow: hidden;
  // margin: 20px 0;

  .project{
    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: .1rem;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
    line-height: 1.3rem;
  }

  .project:hover{
    color:$color9;
  }
}

// .sub-category{
//   width: 100%;
//   height:60px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   letter-spacing: .1rem;
//   text-align: center;
//   padding:10px;
//   text-transform: uppercase;
//   line-height: 1.3rem;
//
//     img{
//       width: 100px;
//     }
//
// }














// MEDIA QUERIES______________________________________

@media (min-width:767px) {

  header{
    padding-top: 20px;

    .left{
      h1{
        display: block;
      }
    }
  }

  .section-header{
    h2{
      font-size: 1.5rem;
      font-weight: 100;
    }
  }

  .portfolio{
    margin-top: 160px;
  }

  .project-list{
    .project{
      padding:50px;
      height: 80px;
      width: 33.333%;
      float: left;
    }
  }


}





@media (min-width:1000px) {

}





@media (min-width:1200px) {
  header{
    .left{
      h1{
        // font-size: 1.4rem;
      }
    }

    h2{
      // font-size:1.4rem;
    }
  }

  // #back-to-top{
  //   width: 100%;
  //   top:130px;
  //
  //   #to-top-container{
  //     padding:0 15px;
  //
  //     #to-top-trigger{
  //       width: 50px;
  //       right:15px;
  //
  //     }
  //   }
  // }

  .portfolio{
    // margin:100px auto 30px;
  }

  .section-header{
    // height: 70px;

    h2{
      // font-size: 1.4rem;
    }
  }
}
