#design {
  background-color: #56bfc9;
  color: white; }

#music {
  background-color: #f4606c;
  color: white; }

.box {
  height: 400px;
  margin-bottom: 20px;
  width: 100%;
  background: pink; }

#illustration {
  background: #73605b;
  color: white; }

#comics {
  background-color: #73605b;
  color: white; }

#cv {
  background-color: #333;
  color: white; }

#contact {
  background-color: #db7337;
  color: white; }

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, hr {
  margin: 0;
  padding: 0;
  list-style-type: none; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-transform: uppercase; }

h2 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: .2rem;
  text-transform: uppercase; }

h3 {
  font-size: 1.4rem;
  letter-spacing: .1rem;
  text-transform: uppercase; }

p {
  line-height: 2rem; }

a {
  text-decoration: none;
  color: inherit; }

header {
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2; }
  header .left {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .left img {
      height: 50px;
      margin-right: 10px; }
    header .left h1 {
      font-weight: 400;
      width: 100px; }
    header .left h2 {
      display: none;
      margin-left: 20px; }

.right {
  display: flex; }
  .right #back-to-top2 {
    height: 50px;
    width: 50px;
    background: #aaa;
    color: black;
    text-align: center;
    font-size: 2rem;
    display: none; }
    .right #back-to-top2 .fa {
      margin-top: 7px; }
  .right #hamburger {
    height: 50px;
    width: 50px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; }

.right:hover {
  cursor: pointer; }

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  display: none;
  align-items: center;
  justify-content: center; }
  .modal .modal-menu {
    background: white;
    text-align: center;
    padding: 30px; }
  .modal li {
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 10px; }
  .modal li:hover {
    color: grey; }

.flex {
  display: flex; }

.container {
  height: 80px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px; }

.portfolio {
  margin: 80px auto 70px;
  max-width: 1200px;
  padding: 0 15px 0px; }

.section-header {
  height: 50px;
  padding: 0px 20px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between; }
  .section-header h2:last-child {
    display: none; }

.section-header:hover {
  cursor: pointer; }

.content {
  display: none;
  margin: 0 auto; }

.project-list {
  padding: 20px 0; }
  .project-list ul {
    overflow: hidden;
    text-align: center; }
    .project-list ul a li {
      padding: 10px;
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: .1rem; }
    .project-list ul a li:hover {
      color: grey; }

.column {
  padding: 50px 15px;
  width: 100%; }

a img {
  width: 100%;
  margin-bottom: 20px; }

.fixed-section {
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0; }

@media (min-width: 767px) {
  header .left h2 {
    display: block; }

  .project-list ul a li {
    display: inline-block; }

  .project {
    display: flex; }

  .column {
    width: 50%;
    padding-right: 7.5%; } }
@media (min-width: 1200px) {
  header h2 {
    font-size: 1.4rem; }

  .portfolio {
    margin: 80px auto 30px; }

  .section-header h2 {
    font-size: 1.4rem; } }

/*# sourceMappingURL=styles.css.map */
