.remodal-overlay {
  background-color: white; }

.remodal-wrapper {
  padding: 0; }

.remodal {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 1024px;
  text-align: left;
  color: black; }
  .remodal .modal-content {
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 30px 10px; }
    .remodal .modal-content h1 {
      margin: 0 auto;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 100; }
      .remodal .modal-content h1 span {
        color: #ff3333; }
    .remodal .modal-content a {
      color: #ff3333;
      font-weight: 900; }
    .remodal .modal-content .column-left {
      padding-bottom: 30px;
      width: 100%; }
    .remodal .modal-content .column-right {
      width: 100%;
      overflow: hidden; }
      .remodal .modal-content .column-right img {
        width: 98%;
        float: left;
        margin: 1%;
        margin-bottom: 20px;
        border: 1px solid #ddd; }
    .remodal .modal-content .column-right2 {
      width: 100%;
      overflow: hidden; }
      .remodal .modal-content .column-right2 img {
        width: 98%;
        float: left;
        margin: 1%;
        margin-bottom: 20px;
        border: 1px solid #ddd; }

.remodal-close:before {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1rem;
  padding: 20px; }

.remodal-close2 {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  background-color: #ff3333;
  border-radius: 50%;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  outline: none;
  transition: background-color .2s ease-in-out; }

.remodal-close2:hover {
  background-color: black;
  color: white;
  cursor: pointer; }

@media (min-width: 767px) {
  .remodal .modal-content {
    padding: 30px 50px 10px; }
    .remodal .modal-content h1 {
      max-width: 700px;
      font-size: 3rem; }
    .remodal .modal-content .column-left {
      float: left;
      width: 65%;
      padding-right: 50px; }
    .remodal .modal-content .column-right {
      float: right;
      width: 35%; }
    .remodal .modal-content .column-right2 img {
      width: 48%; } }
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, hr {
  margin: 0;
  padding: 0;
  list-style-type: none; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-transform: uppercase; }

h2 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: .2rem;
  text-transform: uppercase; }

h3 {
  font-size: 1.4rem;
  letter-spacing: .1rem;
  text-transform: uppercase; }

p {
  line-height: 1.6rem;
  font-size: .9rem; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: #ff3333; }

.flex {
  display: flex; }

.orbs {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: -50px;
  z-index: -1; }

.walking {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -2; }
  .walking img {
    width: 100%; }

.black {
  background-color: black;
  color: white; }

.italic {
  font-style: italic; }

.transparent {
  background-color: transparent; }

.border {
  border: 5px solid red; }

header {
  height: 100px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2; }
  header .container {
    height: 80px;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px; }
  header .left {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .left .logo {
      background-color: black;
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 52px;
      width: 52px;
      margin-right: 10px; }
      header .left .logo .line {
        margin: 7.5px 0;
        width: 25px;
        border-bottom: 2px solid white; }
    header .left h1 {
      font-weight: 400;
      width: 100px; }
  header .left:hover {
    cursor: pointer; }

.right {
  display: flex; }
  .right #back-to-top2 {
    border: 2px solid white;
    height: 52px;
    width: 52px;
    text-align: center;
    font-size: 2rem;
    display: none; }
    .right #back-to-top2 .fa {
      margin-top: 7px; }
  .right #light-switch {
    overflow: hidden;
    width: 52px;
    height: 52px;
    color: white;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }
    .right #light-switch .fa-sun-o {
      display: none; }
    .right #light-switch #eye2 {
      display: none; }

.right:hover {
  cursor: pointer; }

.portfolio {
  margin: 100px auto 10px;
  max-width: 900px;
  padding: 0 15px 0px; }

section {
  display: none;
  border-bottom: 1px solid black; }

.section-header {
  width: 100%;
  height: 10vh;
  min-height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: background-color .2s ease-in-out; }
  .section-header h2 {
    font-size: 1.2rem; }
  .section-header h2:last-child {
    display: none; }

.section-header:last-of-type {
  border: none; }

.section-header:hover {
  cursor: pointer; }

.content {
  display: none;
  margin: 0 auto;
  padding: 20px 0; }

.project-list {
  overflow: hidden; }
  .project-list .project {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: .1rem;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    line-height: 1.3rem; }
  .project-list .project:hover {
    color: #ff3333; }

@media (min-width: 767px) {
  header {
    padding-top: 20px; }
    header .left h1 {
      display: block; }

  .section-header h2 {
    font-size: 1.5rem; }

  .portfolio {
    margin-top: 160px; }

  .project-list .project {
    padding: 50px;
    height: 80px;
    width: 33.333%;
    float: left; } }

/*# sourceMappingURL=styles.css.map */
