.remodal-overlay{
  // background-color: rgba(0,0,0,.6);
  background-color: white;
}

.remodal-wrapper{
  padding: 0;
}

.remodal{
  min-height: 100vh;
  margin:0;
  padding:0;
  max-width: 1024px;
  text-align: left;
  color:black;


  .modal-content{
    overflow: hidden;
    margin: 0 auto;
    padding:30px 30px 10px;

    .background-image{
      width: 60%;
      max-width: 400px;
      display: block;
      margin: 0 auto;
      margin-bottom: 3vh;
    }

    h1{
      // margin: 0 5%;
      text-align: center;
      font-size: 1rem;
      // font-weight: 100;

      span{
        // font-weight: 400;
        color: $color9;
      }
    }


    a{
      color:$color9;
      font-weight: 900;
    }

    a:hover{
      color:black;
    }


    .column-left{
      padding-bottom:30px;
      width:100%;
    }


    .column-right{
      width: 100%;
      overflow: hidden;

      img{
        width: 98%;
        float: left;
        margin: 1%;
        // margin-bottom:20px;
        border: 1px solid #ddd;
      }
    }


    .column-right2{
      width: 100%;
      overflow: hidden;

      // a:nth-of-type(1) img {
      //   width: 98%;
      //   margin: 1%;
      //   margin-bottom:20px;
      //   border: none;
      // }

      img{
        width: 98%;
        float:left;
        margin:1%;
        margin-bottom:20px;
        border: 1px solid #ddd;
      }
    }


  }

}



.remodal-close:before{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1rem;
  padding: 20px;
}

.remodal-close2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  background-color: $color9;
  border-radius: 50%;
  border: none;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  outline:none;
  transition: background-color .2s ease-in-out;
}

.remodal-close2::after{
  content: "x";
}


.remodal-close2:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}





@media (min-width:767px) {
  .remodal{
    .modal-content{
      padding:30px 50px 10px;

      h1{
        width: 525px;
        margin: 0 auto;
        font-size: 1.5rem;
      }

      .column-left{
        float:left;
        width: 65%;
        padding-right: 50px;
      }

      .column-right{
        float: right;
        width:35%;
      }

      .column-right2{
        img{
          width: 48%;
        }
      }
    }
  }
}

// @media (min-width:900px) {
//   .remodal{
//     .modal-content{
//       // padding:100px 50px 0;
//     }
//   }
// }
