.remodal-overlay{
  // background-color: rgba(0,0,0,.6);
  background-color: white;
}

.remodal-wrapper{
  padding: 0;
}

.remodal{
  min-height: 100vh;
  margin:0;
  padding:0;
  max-width: 1024px;
  text-align: left;
  color:black;


  .modal-content{
    overflow: hidden;
    margin: 0 auto;
    padding:30px 30px 10px;

    h1{
      // margin: 0 5%;
      text-align: center;
      font-size: 1rem;
      // font-weight: 100;

      span{
        // font-weight: 400;
        color: $color9;
      }
    }


    a{
      color:$color9;
      font-weight: 900;
    }

    a:hover{
      color:black;
    }


    .column-left{
      padding-bottom:30px;
      width:100%;
    }


    .column-right{
      width: 100%;
      overflow: hidden;

      img{
        width: 98%;
        float: left;
        margin: 1%;
        // margin-bottom:20px;
        border: 1px solid #ddd;
      }
    }


    .column-right2{
      width: 100%;
      overflow: hidden;

      // a:nth-of-type(1) img {
      //   width: 98%;
      //   margin: 1%;
      //   margin-bottom:20px;
      //   border: none;
      // }

      img{
        width: 98%;
        float:left;
        margin:1%;
        margin-bottom:20px;
        border: 1px solid #ddd;
      }
    }


  }

}


// In-built close button
.remodal-close:before{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1rem;
  padding: 20px;
}

// My first attempt
.remodal-close2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  background-color: $color9;
  border-radius: 50%;
  border: none;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  outline:none;
  transition: background-color .2s ease-in-out;
}

.remodal-close2:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

// My second attempt
.remodal-close3{
  width: 50px;
  height: 50px;
  margin: 30px auto 0;
  background-image: url('../images/close-button.svg');
  background-position: center;
}

.remodal-close3:hover{
  cursor: pointer;
  background-image: url('../images/close-button-hover.svg');
  background-position: center;
}


.face-animation{
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 80vh;

  .ellis-face{
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: .2;
    animation-name:face;
    animation-duration: 16s;
  }

  .text{
    position: absolute;
    height: 80vh;
    width:80%;
    left:10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
      // margin: auto;
      // position: absolute;
      // right:0;
      // left: 0;
      // bottom: 0;
      background-color: $color9;
      padding:30px 40px;
      font-size: 1.1rem;
      color: white;
      max-width: 500px;
      line-height: 1.7rem;
      transition: background-color .2s ease-in-out;


      span{
        text-transform: none;
      }
    }

    .first{
      display: none;
    }

    .second{
      display: none;
    }

    .first:hover{
      cursor: pointer;
      background-color: black;
    }
  }

}


@keyframes face {
  0%{
    opacity: 1;
  }

  12%{
    opacity: 1;
  }

  18%{
    opacity: .2;
  }

  100%{
    opacity: .2;
  }
}






@media (min-width:767px) {
  .remodal{
    .modal-content{
      padding:30px 50px 10px;

      h1{
        width: 525px;
        margin: 0 auto;
        font-size: 1.5rem;
      }

      .column-left{
        float:left;
        width: 65%;
        padding-right: 50px;
      }

      .column-right{
        float: right;
        width:35%;
      }

      .column-right2{
        img{
          width: 48%;
        }
      }
    }

    .face-animation{
      .ellis-face{
        width: 75%;
        left:12.5%;
      }
    }
  }
}

// @media (min-width:900px) {
//   .remodal{
//     .modal-content{
//       // padding:100px 50px 0;
//     }
//   }
// }
